[submodule "solviz/example"]
	path = solviz/example
	url = https://github.com/rdehaan/solviz-example
  branch = main
[submodule "solviz/sudoku"]
	path = solviz/sudoku
	url = https://github.com/rdehaan/solviz-sudoku
  branch = main
[submodule "solviz/binary-puzzle"]
	path = solviz/binary-puzzle
	url = https://github.com/rdehaan/solviz-binary-puzzle
	branch = main
[submodule "tinysatviz/example"]
	path = tinysatviz/example
	url = https://github.com/rdehaan/tinysatviz-example
	branch = main
[submodule "algoviz/sudoku"]
	path = algoviz/sudoku
	url = https://github.com/rdehaan/algoviz-sudoku
	branch = main
[submodule "tinysatviz/sudoku"]
	path = tinysatviz/sudoku
	url = https://github.com/rdehaan/tinysatviz-sudoku
	branch = main
[submodule "interactive-sat"]
	path = interactive-sat
	url = https://github.com/rdehaan/interactive-sat
	branch = main
[submodule "tinysatviz/clause-display"]
	path = tinysatviz/clause-display
	url = https://github.com/rdehaan/tinysatviz-clause-display
	branch = main
[submodule "how-computers-solve-sudoku"]
	path = how-computers-solve-sudoku
	url = https://github.com/rdehaan/computer-sudoku
	branch = main
[submodule "gezzpun/sudoku"]
	path = gezzpun/sudoku
	url = https://github.com/rdehaan/gezzpun-sudoku
	branch = main
[submodule "logic-game"]
        path = logic-game
        url = https://github.com/rdehaan/logic-game
        branch = main

