[submodule "solviz/example"]
	path = solviz/example
	url = https://github.com/rdehaan/solviz-example
        branch = main
[submodule "solviz/sudoku"]
	path = solviz/sudoku
	url = https://github.com/rdehaan/solviz-sudoku
        branch = main

[submodule "solviz/binary-puzzle"]
	path = solviz/binary-puzzle
	url = https://github.com/rdehaan/solviz-binary-puzzle
	branch = main
