[submodule "solviz/example"]
	path = solviz/example
	url = https://github.com/rdehaan/solviz-example
  branch = main
[submodule "solviz/sudoku"]
	path = solviz/sudoku
	url = https://github.com/rdehaan/solviz-sudoku
  branch = main
[submodule "solviz/binary-puzzle"]
	path = solviz/binary-puzzle
	url = https://github.com/rdehaan/solviz-binary-puzzle
	branch = main
[submodule "tinysatviz/example"]
	path = tinysatviz/example
	url = https://github.com/rdehaan/tinysatviz-example
	branch = main
[submodule "algoviz/sudoku"]
	path = algoviz/sudoku
	url = https://github.com/rdehaan/algoviz-sudoku
	branch = main
[submodule "tinysatviz/sudoku"]
	path = tinysatviz/sudoku
	url = https://github.com/rdehaan/tinysatviz-sudoku
	branch = main
